.grid{
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    grid-template-rows: auto 1fr 200px;
    gap: 0px;
    height: 90vh;
}

p, h1, iframe{
    left: 500px
}

header{
  display: grid;
  justify-content: center;
  align-content: center;
}

header, footer{
    grid-column: 1 / 4;
}

header, aside, article, footer{
    border-style: solid;
    border-color: black; 
    border-width: 5px;
}

body{
    background-color: $gray-600;
}
