.grid{
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    grid-template-rows: auto 1fr 350px;
    gap: 0px;
    height: 100vh;
}

header{
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: gray;
}

header{
    grid-column: 1 / 4;
}

footer{
    grid-column: 1 / 4;
}

header, aside, article, footer{
    border-style: solid;
    border-color: black; 
    border-width: 5px;
}

aside{
    background-color: black;
}

footer{
    background-color: gray;
}

article{
    background-color: gray;
}

.dope{
    color: green;
    font-family: Times New Roman;
}
