
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px;
    height: 100vh;
    background: silver;
    border-style: solid;
    border-color: black; 
    border-width: 5px;
    justify-content: center;
    align-content: center;
}

.dope{
    color: green;
    font-family: Times New Roman;
}
